.sticky-footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    background-color: rgba(255, 255, 255, 0.503);
    backdrop-filter: blur(5px);

    z-index: 1000;
    margin-bottom: 50px;
    padding: 10px;

    border-radius: 15px;
}

.footer-nav {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;
}

.footer-link {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #B9AAE8;
    text-decoration: none;
    background-color: #7263C1;
    transition: 0.5s ease;

    width: 45px;
    height: 45px;
    padding: 5px;

    border-radius: 10px;
}

.footer-link.active {
    background-color: white;
    color: #7263C1;
    box-shadow: 0 2px 4px 3px rgba(0, 0, 0, 0.156);
}

.footer-link i {
    font-size: 30px;
    /* color: black; */
}

.footer-link:hover {
    background-color: white;
    color: #7263C1;
    box-shadow: 0 2px 4px 3px rgba(0, 0, 0, 0.156);
}
