.sticky-footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    background-color: rgba(62, 30, 52, 0.8);
    backdrop-filter: blur(10px);

    z-index: 1000;
    margin-bottom: 50px;
    padding: 10px;

    border-radius: 15px;
}

.footer-nav {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;
}

.footer-link {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;
    text-decoration: none;
    background-color: #c52482;
    transition: background-color 0.3s ease, transform 0.3s ease;

    width: 45px;
    height: 45px;
    padding: 5px;

    border-radius: 10px;
}

.footer-link i {
    font-size: 30px;
    /* color: black; */
}

.footer-link:hover {
    background-color: #d373b9cd;
}
